


#container{
        max-width:800px;
        width:100%;
        margin: 0 auto;
        font-family: "PT Serif",serif;
        padding-left: 15px;
        padding-right: 15px;

}

/* unvisited link */
a:link {
    color: #CBA574;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #999;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #0052a5;
    text-decoration: none;
}
.bg-dark {
 background:#425063 !important;

}

ul.navbar-nav {
 margin-left:50%;
}
.star-top{
        width:20px;
        padding-right: 5px;

}
.navbar {
 font-family: "Helvetica", sans-serif;

}
.hero-image{
width:100%;
max-width: 800px;
text-align: center;
margin: 0 auto;
margin-top: 10px;

}

.chaptertitle{
  font-family: "Helvetica", sans-serif;
  color: #283538;
  font-size: 3em;
  font-weight: 1000;
  padding-top: 20px;
  padding-bottom: 15PX;
  width: 100%;
font-style: italic;
  text-align: center;


}


h1{
    text-align: center;
    color: #7F6849;
    font-family: "Helvetica",sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-top: 20 px;
    margin-bottom: 30px;

  }

  h2{
      text-align: center;
      color: #7F6849;
      font-family: "PT Serif",sans-serif;

      font-size: 2em;
      margin-top: 20 px;
      margin-bottom: 30px;

    }


blockquote {
color: #CBA574;
font-size: 2.5em;
margin: 0auto;
text-align: center;
border-style: solid;
border: black;


  }

.byline {
  text-align: center!important;
  margin: 0 auto ;
  font-family: "Arial",sans-serif;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 10px;

}


.introtext {
  font-family: "Helvetica", sans-serif;
  color: #7E7E7F;
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
  max-width: 800px;
  margin-top: 25px;

  margin: 0 auto;
padding-top: 20px;

}


.first-word{
font-family: "PT Serif";
font-size: 3em;
color: #7F6849;

}
.second-word {
  font-family: "PT Serif";
  font-size: 2em;
  color: #7F6849;

}


p{
  font-family: "Arial", sans-serif;
  text-align:left;
  line-height:180%;
  color: #333E4C;
  margin-left: 10px;
  margin-right: 10px;


}

.w3-container{
  padding-top: 10px;
  font-family: "PT Serif", sans-serif;
  color:#999;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  

}


/* photograph */
.stack-image{
width:100%;
height: 100%;
max-width:700px;
padding-top:30px;
margin:0 auto;
border-top:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
}

img{
  margin: 0 auto;
  text-align: center;
}
.house-image {
  height: 396px;
  width:100%;
  height: 100%;
  margin: 0 auto;
padding-top: 30px;
border-top:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
}


.help-me{
  margin: 0auto;
  width:100%;
  margin: 0 auto;
padding-top: 30px;
width: 349px;
display:block;
width: 40%;
border-top:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
}

/* caption */
.caption{
 width:100%;
 max-width:900px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: "PT Serif", sans-serif;
 color:#999;
 font-size: 13px;
}
/* Graph styles */
.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: "PT Serif", sans-serif;
 margin:0 auto;
 width: 100%;
 margin-bottom: 10px;
}

.map {
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  padding-top:20px;
  padding-bottom:20px;
}


footer{
font-family: "Helvetica";
background-color: #425063;
color: white;
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
height: 100px;

}
