
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 12px;
  background-color: #133340;
  color: #A8BB6B;
  border: 20px solid #0E252E;

}

img {
        max-width: 100%;
            height: auto;
            }
            .bg-light {
                        background-color:#E5FF92 !important;
                          color: #A8BB6B !important;
                        font-size: 1.5em;
                        text-emphasis-color: #A8BB6B

                        }



            .navbar-expand-lg{
              color: #737F49!important;
              position: fixed;
               z-index: 10;
              width: 100%;
              position: -webkit-sticky;
              position: sticky;
              top: 0px;
            }

header {
background-color: #133340;
text-align: center;

}



.jumbotron {
padding: 15px;
    background:#0E252E;
    color: #A8BB6B;
    font-family: Helvetica, sans-serif;
}

/*contact information*/
.menu li {
  margin: 0;
  padding: 0;
  font-size: 3em;
  display: inline;


}

.menu li a {
color:#A8BB6B;
text-align: center !important;
}

  .sectionheader {
    font-size: 1.5em;
    background:#A8BB6B;
    color: #133340;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
   min-width: 300px;
    padding-left: 15px;

            }

footer{
  text-align: center;
  padding: 10px;
  margin-top: 40px;

}
