#container{
        max-width:1000px;
        width:100%;
        margin: 0 auto;
        font-family: Helvetica;

}

h1{
  text-align: center;
}

.byline {text-align: center;

}

figure {
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: grey;
  font-size: 12px; 

}
footer{
font-family: Helvetica;
text-align: center;
}
